/* navbar */
navbar{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-s);
    background-image: linear-gradient(45deg ,var(--bg-secondary-color), var(--bg-primary-color));
    /* border-bottom: 1px solid lightgreen; */
    box-shadow: 0 0 10px rgb(80, 80, 80);
    border-radius:0  0 var(--border-radius-m) var(--border-radius-m) ;
    user-select: none;
}

navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--text-active-color);
}

navbar .logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

navbar .logo p{
    padding: var(--padding-xs);
    border-radius: var(--border-radius-s);
    margin-left: var(--margin-s);
    font-size: var(--font-size-l);
    color: var(--text-quinary-color);
    background-color: var(--bg-active-color);
}

navbar .head-links{
    display: flex;
    align-items: center;
    gap: var(--gap-l);
    color: var(--text-primary-color);
    font-size: var(--font-size-m);
    border-color: var(--bg-active-color);
    cursor: pointer;
}

navbar .account-utilities{
    display: flex;
    align-items: center;
    gap: var(--gap-l);
}

navbar .account-utilities .lang{
    display: flex;
    gap: var(--gap-xs);
    border: 2px solid var(--bg-quinary-color);
    border-radius: var(--border-radius-m);
    transition: all 0.6s ease-in-out;
}

navbar .account-utilities .lang p{
    cursor: pointer;
    padding: var(--padding-s);
    margin: var(--margin-xs);
}

navbar .account-utilities .lang .active{
    color: var(--text-primary-color);
    border-radius: var(--border-radius-s);
    background-color: var(--bg-secondary-color);
}

navbar .account-utilities .lang i{
    align-self: center;
    margin: 0 var(--margin-s) 0 0 ;
}

navbar .account-utilities .account{
    background-color: var(--bg-active-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    color: var(--text-quinary-color);
}

navbar .account-utilities .account p,
navbar .account-utilities .account a{
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-s);
    font-weight: 600;
    cursor: pointer;
}

/* home */

home{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

home .top{
    position: relative;
}


home .top #farming-land{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    filter: blur(2px);
    z-index: -2;
}

home .top #farmer{
    position: absolute;
    right: 250px;
    bottom: 4px;
    height: 300px;
    z-index: 1;
}

/* home .moto-bg{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50px;
    left: 200px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: 0 0 20px white;
    border-radius: 50%;
} */

home .moto{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    top: 30px;
    left: 0;
    z-index: 1;
    width: 50%;
    padding: var(--padding-xxl);
    background: linear-gradient(
        130deg,
        var(--bg-primary-color)   0%,
        var(--bg-primary-color)   45%,
        rgba(0, 0, 0, 0)          80%
    );
}

home .moto h1{
    font-size: var(--font-size-xxl);
}

home .moto #up{
    color: var(--text-dark-active-color);
}

home .moto #down{
    color: var(--text-primary-color);
}

home .moto p{
    width: 70%;
    font-size: var(--font-size-s);
    margin: var(--margin-s);
    margin-bottom: var(--margin-m);
}

home .moto .btn{
    display: flex;
    gap: var(--gap-m);
    align-items: center;
    margin-top: var(--margin-s);

}

home .moto #get-started{
    border-radius: var(--border-radius-s);
    padding: var(--padding-s);
    color: var(--text-quinary-color);
    background-color: var(--bg-active-color);
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-s);
    cursor: pointer;
}

home .moto #explore{
    border: 2px solid var(--bg-active-color);
    border-radius: var(--border-radius-s);
    padding: var(--padding-xs) var(--padding-s);
    color: var(--text-active-color);
    background-color: var(--bg-primary-color);
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size-s);
    font-weight: 600;
    cursor: pointer;
}

home .trust-card{
    position: absolute;
    top: 100px;
    right: 50px;
    display: flex;
    align-items: center;
    width: 200px;
    padding: var(--padding-m);
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    border-radius: var(--border-radius-m) var(--border-radius-s);
    gap: var(--gap-m);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

home .trust-card .emblem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--bg-primary-color);
    border-radius: 50%;
}

home .trust-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--bg-primary-color);
}

home .trust-card .desc{
    display: flex;
    flex-direction: column;
}

home .trust-card .desc p{
    font-size: var(--font-size-xs);
}

home .center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-s);
    margin: var(--margin-s);
}

home .center .left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-m);
}

home .center .left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: var(--padding-s);
    border: var(--card-border-s);
}

home .center .left .details{
    display: flex;
    flex-direction: column;
}

home .center .right {
    color: var(--text-quinary-color);
    background-color: var(--bg-active-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    justify-content: space-between;
}

home .center .right img{
    width: 20px;
    height: 20px;
}

home .contents{
    display: flex;
    justify-content: space-between;
    margin: var(--margin-m);
}

/* weather card */

home .contents .weather-card{
    width: var(--card-width-s);
    height: var(--card-height-s);
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    border: var(--card-border-s);
    border-radius: var(--border-radius-m);
}

home .contents .weather-card .top{
    display: flex;
    align-items: center;
    gap: var(--gap-m);
}

home .contents .weather-card .top img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

home .contents .weather-card .middle{
    display: flex;
    justify-content: space-between;
    margin: var(--margin-xs) 0;
}

home .contents .weather-card .middle .left{
    display: flex;
    flex-direction: column;
}

home .contents .weather-card .middle .left .celcius{
    font-size: var(--font-size-xl);
    font-weight: 600;
}

home .contents .weather-card .middle .right {
    display: flex;
    align-items: center;
}

home .contents .weather-card .middle .right img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

home .contents .weather-card .bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
}

home .contents .weather-card .bottom .upper{
    padding: var(--padding-s) 0;
    display: flex;
    width: 100%;
    justify-content: space-between;   
}

home .contents .weather-card .bottom .lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: var(--margin-m);
}

home .contents .weather-card .bottom .lower p{
    display: flex;
    justify-content: center;
    font-size: var(--font-size-xs);
}

home .contents .weather-card .bottom .lower img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Crop Doctor Card */

home .contents .crop-doctor{
    width: var(--card-width-s);
    height: var(--card-height-s);
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    border: var(--card-border-s);
    border-radius: var(--border-radius-m);
}

home .contents .crop-doctor .top{
    display: flex;
    align-items: center;
    gap: var(--gap-m);
}

home .contents .crop-doctor .top img{
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-s);
}

home .contents .crop-doctor .top .right{
    display: flex;
    flex-direction: column;
}

home .contents .crop-doctor .middle{
    height: 60%;
    margin: var(--margin-m) 0;
    border: 2px dashed #80808049;
    border-radius: var(--border-radius-m);
    gap: var(--gap-s);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

home .contents .crop-doctor .middle .icon{
    width: 70px;
    height: 70px;
    background-color: var(--bg-secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

home .contents .crop-doctor .middle i{ 
    font-size: var(--font-size-xl);
    color: var(--text-light-active-color);
}

home .contents .crop-doctor .middle h4{
    color: var(--text-active-color);
}

home .contents .crop-doctor .down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    color: var(--text-active-color);
    cursor: pointer;
    user-select: none;
}

home .contents .crop-doctor .down:hover{
    background-color: var(--bg-secondary-color);
}

home .contents .mandi-prices{
    width: var(--card-width-s);
    height: var(--card-height-s);
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    border: var(--card-border-s);
    border-radius: var(--border-radius-m);
}

home .contents .mandi-prices .top{
    display: flex;
    align-items: center;
    gap: var(--gap-m);
    margin-bottom: var(--margin-m);
}

home .contents .mandi-prices .top img{
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-s);
}

home .contents .mandi-prices .middle{
    display: flex;
    flex-direction: column;
}

home .contents .mandi-prices .middle p{
    font-size: var(--font-size-xs);
}

home .contents .mandi-prices .middle .profit{
    color:var(--color-success);
}

home .contents .mandi-prices .middle  .loss{
    color:var(--color-danger);
}

home .contents .mandi-prices .middle .up-border{
    padding: var(--padding-s);
    border-top: var(--card-border-s);
}

home .contents .mandi-prices .middle .row-data{
    display: flex;
    gap: var(--gap-xs);
    justify-content: space-between;

}
home .contents .mandi-prices .middle .mandi-percentage{
    display: flex;
    color: var(su);
}

home .contents .mandi-prices .middle .mandi-percentage i{
    display: flex;
    font-size: var(--font-size-l);
    margin: var(--margin-xs);
    align-self: center ;
}

home .contents .mandi-prices .down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    color: var(--text-active-color);
    cursor: pointer;
    user-select: none;
}

home .contents .mandi-prices .down:hover{
    background-color: var(--bg-secondary-color);
}

home .contents .government-alerts{
    width: var(--card-width-s);
    height: var(--card-height-s);
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    border: var(--card-border-s);
    border-radius: var(--border-radius-m);
}

home .contents .government-alerts .top{
    display: flex;
    align-items: center;
    gap: var(--gap-m);
    margin-bottom: var(--margin-m);
}

home .contents .government-alerts .top i{
    width: 50px;
    height: 50px;
    font-size: var(--font-size-xl);
    padding: var(--padding-s);
    color: var(--text-active-color);
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-s);
}

home .contents .government-alerts .middle{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    padding: var(--padding-xs);
}

home .contents .government-alerts .middle .row-space{
    display: flex;
    gap: var(--gap-s);
    padding: var(--padding-xs);
    cursor: pointer;
}

home .contents .government-alerts .middle .row-space:hover i,
home .contents .government-alerts .middle .row-space:hover h4{

    color: var(--text-active-color);
}


home .contents .government-alerts .middle .row-space:hover{
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-s);
}

home .contents .government-alerts .down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    color: var(--text-active-color);
    cursor: pointer;
    user-select: none;
}

home .contents .government-alerts .down:hover{
    background-color: var(--bg-secondary-color);
}